:root {
	--background-colors: #21212A;
	--text-color: white;
	--subtext-color: black;
	--cardtitle-color: #3F3F50;
	--cardsubtext-color: #7B7B9C;
	--tab-active-color: #ACA0CC;
	--tab-hover-color: #D7C9FF;
	--window-hover-color: #9999C2;
	--window-active-color: #7B7B9C;
}

body {
    background-color: var(--background-colors);
	color: var(--text-color);
}


.window {
	border: 1px solid black;
	border-radius: 5px;
	margin: 15px 0;
	position: relative;
}

.window-title {
	width: 100%;
	text-align: center;
	background-color: var(--cardtitle-color);
	border-radius: 5px 5px 0 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.window-title:hover {
	background-color: var(--window-hover-color);
	cursor: pointer;
	color: black;
}

.window-active {
	background-color: var(--window-active-color);
}


.window-tab {
	color: var(--subtext-color);
	background-color: var(--cardsubtext-color);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: flex; 
	align-items: center; 
	user-select: none;
}

.window-tab:hover {
	background-color: var(--tab-hover-color);
	cursor: pointer;	
}

.window-title-text {
	margin: 0;
	margin-left: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.window-favcion{
	width: 16px;
	height: 16px;
}

.tab-active {
	background-color: var(--tab-active-color);
}

.dragging {
	opacity: .5;
}

.draggable {
	cursor: move;
}

.hidden {
	display: none;
}

.new-tab-button {
    position: absolute;
    top: -10px;
    right: -6px;
    padding: 2px;
    font-size: 10px;
    height: 14px;
    width: 14px;
    padding-bottom: 3.4px;
    border-radius: 5px;
    background-color: #353740;
	cursor: pointer;
	user-select: none;
	box-shadow: -10px 4px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.473);
}

.new-tab-button:hover {
    background-color: #6A6E80;
}